body {
    margin: 0;
}

.wrapper {
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 60px;
    background: #393536;
    border-bottom: 2px #000000 solid;
}

.papglide_emblem {
    margin-left: 130px;
    float: left;
}

.logo {
    margin-top: 19px;
}

.header_tabs {
    float: left;
    margin-left: 35px;
    margin-top: 20px;
}

.header_tab {
    color: #4DA5DB;
    font-family: Calibri;
    font-size: 16px;
    text-decoration: none;
    margin-left: 15px;
}

.header_text {
    float: right;
    width: 225px;
    height: 57px;
    margin-right: 130px;
    resize: none;
}

.subheader {
    height: 35px;
    background: #433F40;
    background: linear-gradient(to top, #433F40, #47474A);
}

.new_glider, .subheader_tab {
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Calibri;
    padding-left: 25px;
}

.new_glider {
    background: url(/images/papglide_icon.png) no-repeat;
    margin-left: 130px;
    font-size: 14px;
    margin-top: 8px;
}

.subheader_tab {
    background: url(/images/papglide_icon.png) no-repeat;
    margin-left: 20px;
    font-size: 12px;
    margin-top: 9px;
    height: 16px; /*size of icon*/
}

.to_home {
    margin-left: 20px;
    margin-top: 9px;
}

.subheader_filter_tabs {
    float: right;
    margin-right: 130px;
    margin-top: 4px;
}

.subheader_filter_tab {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Calibri;
    font-size: 12px;
    margin-left: 20px;
}

.search_form {
    display: inline;
}

.search_field {
	border: 0;
    margin-left: 40px;
    height: 27px;
    width: 185px;
	border-radius: 5px; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	-khtml-border-radius: 6px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {

}

.welcome {
	position: absolute;
	z-index: 5;
	width: 100%; 
	height: 35px;
	opacity: 0.25;
	background: #000000;
}

.map {
	border:0;
	width: 100%;
	height: 100%;
}

.welcome_message {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 22px;
	margin-top: 5px;
	font-stretch: ultra-condensed;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    margin: -100px auto 0;
    height: 100px;
    background: #FFFFFF;
    position: relative;
}